<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Charlotte &amp; Thomas</h1>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Time and Place</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 text-center">
                <div class="service-box">
                    <h3>Ceremony</h3>
                    <h4>Time:</h4>
                    <p>1:00 June 24, 2017</p>
                    <h4>Location:</h4>
                    <p class="text-muted"><a id="ceremonyMapButton">155 Dickson Blvd. Moncton, NB</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 text-center">
                <div class="service-box">
                    <h3>Reception</h3>
                    <h4>Time:</h4>
                    <p>4:30 June 24, 2017</p>
                    <h4>Location:</h4>
                    <p class="text-muted"><a id="receptionMapButton">1539 Salisbury Rd. Moncton, NB</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ceremonyMap" class="hidden map-container">
  <iframe id="ceremonyFrame" class="map-frame" frameBorder="0" src=""></iframe>
</section>

<section id="receptionMap" class="hidden map-container">
  <iframe id="receptionFrame" class="map-frame" frameBorder="0" src=""></iframe>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">RSVP</h2>
                <hr class="light">
                <p class="text-faded">Let us know if you are coming by submitting this form or emailing <a id="rsvpEmail" href="mailto:rsvp@thomasmarriescharlotte.ca">rsvp@thomasmarriescharlotte.ca</a></p>
                <div id="formContainer">
                  <form method="post" id="rsvpForm">
                    <div>
                      <label class="text-faded">Invitation Code (<a href="#" data-target="#explainationModal" data-toggle="modal">what's this?</a>):</label>
                      <input id="invitationCode" type="password" name="invitation_code"/>
                    </div>
                    <div>
                      <label class="text-faded">Attending:</label>
                      <input id="attending" type="text" name="attending"/>
                    </div>
                    <div>
                      <label class="text-faded">Additional comments:</label>
                      <input id="comments" type="textfield" name="comment"/>
                    </div>
                  </form>
                </div>
                <button id="rsvpButton" class="btn btn-default" type="submit" value="submit">Send</button>
                <div id="errorAlert" class="alert alert-danger alert-dismissable">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <span id="errorMessage"></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Registry</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div id="registryDescription" class="container">
        <div class="row text-center">
          <div class="col-xs-12 col-sm-8 div-center">
            <h2>For our registry we decided to do something a bit different...</h2>
            <p>
              Instead of registering with a specific store, we have created our own registry. This way you don't have to go to a specific store to get the items we have listed, you have more options and you can still enter what you've purchased on here for others to see. We think it is pretty neat and we hope you like it too!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <div id="comingSoonButton" class="btn btn-default">Coming Soon!</div>
          </div>
        </div>
    </div>
</section>
<div id="explainationModal" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header text-center">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h2 class="modal-title">Invitation Code</h2>
    </div>
    <div class="modal-body">
      <p>
        The invitation code is the number that you can find in the bottom left corner of your invitation.
        Every invitation sent out has the same code and it is only a way to ensure that people submitting this form
        have been invited.
      </p>
      <p>
        This is mostly a deterant against bots or any unauthorized users trying to damage this site. If you can't find
        your invitation, or have lost it, please contact the bride and groom and they will let you know what it is.
      </p>
      <p>
        Thanks for your understanding.
      </p>
      <div class="row">
        <div class="container modal-footer col-xs-12">
          <button id="invitationClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>